{% extends "ProyectoEv1App/base.html" %}

{% load static %}

{% block content %}
   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoEv1App/img/partitura_principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">CALIDAD Y PRECISION</span>
          </h2>
          <p class="mb-3">Tu página de musical de confianza con todo tipo de productos y servicios
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">Experiencia musical de viento a cuerda, de Bach a Beethoven, cuenta con nuestros servicios.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}


    